<button (click)="goBack()">go back</button>

<div>

  <div *ngIf="application">

    <mat-nav-list>
      <h3 matSubheader>{{ application.name }} Categories:</h3>
      <mat-divider></mat-divider>

      <div *ngFor="let category of application.categories;">
        <a mat-list-item routerLink="/application/{{application.code}}/{{category.category}}">
          <strong>{{ category.category }}</strong></a>
        <mat-divider></mat-divider>
      </div>
      <mat-divider></mat-divider>
    </mat-nav-list>

  </div>

</div>